<div class="user-card">
  <p class="card-header">Details for {{model.userName}}</p>
  <div>
    <div> First Name: {{model.firstName}} </div>
    <div> Last Name: {{model.lastName}} </div>
  </div>

  {{user/vacation-list create=(action 'createVacation' model) user=model}}
</div>
